{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Mentions légales {% endblock %}

{% block contenu %}
    <h1 class="text-center">Mentions légales</h1>
    <p class="text-center">Ce site est réalisé à but éducatif par MAIRESSE Valentin.</p>
{% endblock %}